* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --index: calc(1vw + 1vh);
    --transition: 1s cubic-bezier(.05 .5 0 1);
    --projects-font-size:  calc(var(--index)* 1.2);
}

@font-face {
    font-family: kemerik-3d;
    src: url(../fonts/kamerik205-heavy.woff2);
    font-weight: 900;
}

@font-face {
    font-family: merriweather-italic-3d;
    src: url(../fonts/merriweather-regular-italic.woff2);
}

@font-face {
    font-family: RubikSprayPaint-Regular;
    src: url(../fonts/RubikSprayPaint-Regular.ttf);
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'kemerik-3d';
    scroll-behavior: smooth;
}


.layers {
    margin: auto;
    perspective: 1000px;
    overflow: hidden;
    /* max-height: 100vh; */
    max-width: 2040px;
    max-height: 1300px;
    
    
}

.layers__container {
    height: 100vh;
    min-height: 100px;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: transform var(--transition);
    max-width: 2040px;
    max-height: 1300px;
}



.layers__item {
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer-1 {
    transform: translateZ(-55px) scale(1.06);
}
.layer-2 {
    transform: translateZ(80px) scale(1.07);
}
.layer-3 {
    transform: translateZ(120px) scale(1.08);
}
.layer-4 {
    transform: translateZ(200px) scale(1.1);
}
.layer-5 {
    transform: translateZ(200px) scale(1.1);
}
.layer-6{
    transform: translateZ(0);
}
.layer-7 {
    transform: translateZ(180px);
}
.layer-8 {
    transform: translateZ(260px)  scale(0.64);
}
.layer-9 {
    transform: translateZ(540px) scale(1.2);
}
.layer-10 {
    transform: translateZ(380px) scale(0.6);
}
.layer-10_animated {
    
    animation: layer-10-moving 20s linear   0s infinite;
}

@keyframes layer-10-moving {
    from {
        transform: translateZ(380px) rotate(0deg) scale(0.63);
    }
    25% {
        transform: translateZ(380px) rotate(90deg) scale(0.65);
    }
    50% {
        transform: translateZ(380px) rotate(180deg) scale(0.9);
    }
    75% {
        transform: translateZ(380px) rotate(270deg) scale(0.75);
    }
    to {
        transform: translateZ(380px) rotate(360deg) scale(0.63);
    }
  }

.hero-content {
    font-size: calc(var(--index) * 1.8);
    text-align: center;
}

.hero-content h1 {
    margin-bottom: calc(var(--index) * 0.3);;
    color: rgba(0, 0, 0, 0.5);
    
}
.hero-content span {
    display: block;
}

.hero-content__p {
    margin-bottom: calc(var(--index) * 1.5);
    padding: calc(var(--index) * .3) var(--index);
    background: rgb(98, 146, 98);
    vertical-align: middle;
    color: #fff ;
}
.layer-2, .layer-3, .layer-4, .layer-5, .layer-7, .layer-8, .layer-9, .layer-10 {
    pointer-events: none;
}

.button {
    font-family: "Arial";
    font-size: calc(var(--index) * 1.3);
    padding: calc(var(--index) * .2) var(--index);
    border-radius: 10em;
    background: none;
    border: 1px solid rgb(98, 146, 98);
    color: rgb(98, 146, 98);
    text-transform: lowercase;
    cursor: pointer;
    transition: all .3s ease;

}

.button:hover {
    color: #fff;
    background: rgb(98, 146, 98);
}




.about, .projects {
    margin: auto;
    max-width: 2040px;
    padding-top: calc(var(--index) * 4);
    padding-bottom: calc(var(--index) * 4);
}

.about__head {
    position: relative;
}
.about__head h2 {
    position: absolute;
    vertical-align: middle;
    top: 50%;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-50%);
}
.item__name {
    font-size: calc(var(--index) * 0.8);
}

.progress-bar-custom {
    background: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%); 
}

.projects {
    background: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}

.projects__item {
    height: calc(var(--index) * 10);
    max-height: 330px;
    width: 100%;
    background-position: center !important;
    background-size: cover !important;
    cursor: pointer;
    color: #fff;
}

.blur {
    background: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
    opacity: .5;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.projects__item:hover {
    color: #fff;  
}



.projects__item:hover .blur {
    opacity: 0;
}

.projects__logo {
    width: 20%;
    height: 20%;
    top: 2%;
    left: 2%;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.projects__name {
    padding: calc(var(--index) * .2) var(--index);
    background: rgba(0, 0, 0, 1);
    font-size: calc(var(--index) * 1.2);
    mix-blend-mode: multiply;
    /* font-size: min(calc((1vw + 1vh)*1.2), 36px); */
    font-size: clamp(20px, 2.5vw, 36px);
}

.projects__item:hover .projects__name {
    background: rgba(0, 0, 0, 0);
    mix-blend-mode: normal;
    color: black;
    border: 1px solid black;
}

.projects__notification {
    padding-left: 2.5cqw;
    font-size: 1.3cqw;
    line-height: 1.3cqw;
    bottom: 1%;
    right: 1%;
    /* transform:  rotate(-15deg); */
    background-color: #fffb29;
    font-family: RubikSprayPaint-Regular;
    color: #373737;
    border-radius: 0.3cqw;
    animation: notification 2s linear 0s infinite;
}

@keyframes notification {
    from {
        background-color: #fffb29;
    }
    50% {
        background-color: #73d93c;
    }
    to {
        background-color: #fffb29;   
    }
}

.projects__notification::before {
    position: absolute;
    left: 2%;
    content: '';
    background: url("../img/smartphone.png");
    background-repeat: no-repeat;
    width: 1.8cqw;
    height: 100%;
    background-size: contain;
    
}

.contacts-icons {
   
    transform: translateY(-50%) translateX(-55%);
    mix-blend-mode: exclusion;
}

.contacts-icons i {
    font-size: calc(var(--index) * 1.3);
}

.contacts-icons__decor-line {
    width: 1px;
    height: 16vh;
   background: white;
}

.contacts-icons__link {
    color: #ffffff;
}
.contacts-icons__link:hover{
    color: green;
}

@media screen and (width < 1024px) {
    .layer-8 {
        transform: translateZ(260px) scale(0.74);
    }
}


